.dock {
    background: var(--dock-bg);
    display: flex;
    width: 56px;
    height: 100%;

    flex-direction: column;
    justify-content: space-between;

    padding: clamp(10px, 390px, 12px);
}

.navigation-stack {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    gap: 16px;
}

.nav {
    background: var(--text-bg);
    display: flex;
    aspect-ratio: 1 / 1;
    width: fit-content;

    padding: 2px;
    align-items: center;
    justify-content: center;
    border: solid 1.5px var(--border);
    box-shadow:  var(--shadow-nav);
    margin-right: 2.5px;

    color: var(--text);
    cursor: pointer;
}

.nav.active {
    transform: 
        translateX(2.5px)
        translateY(2.5px);
    box-shadow: none;
    background: none;
}

.hover-overlay {
    position: relative;
    z-index: 5;
    width: fit-content;
    height: fit-content;

    padding: 4px 6px;
    background: var(--text-bg);
    border: solid 1px var(--border);
    transform: translateY(1px);
    transition: 
        opacity 0.3s ease-in-out,
        transform 0.3s ease-in-out;
    opacity: 0;
}

.nav:hover + .hover-overlay {
    opacity: 1;
    transform: translateX(4px);
}