.music-player {
    /* position: absolute;
    z-index: 5;
    top: 46px;
    right: 200px; */
    
    display: flex;
    flex-direction: column;
    width: 15vw;
    min-width: 216px;
    max-width: 400px;
    height: fit-content;

    padding: 6px;
    gap: 8px;
    background: var(--text-bg);
    border-radius: 3px;
    border: solid 1px var(--border);
    box-shadow: var(--shadow-window);
}

.music-title {
    display: flex;
    width: 100%;
    height: fit-content;
    overflow: hidden;

    justify-content: flex-start;
    align-items: center;
    padding: 4px;

    background: var(--dock-bg);
    border: solid 1px var(--border);
    box-shadow: var(--shadow-music-title);
}

.music-gif {
    /* background: red; */
    width: 100%;
    height: 120px;

    background-repeat: no-repeat;
    background-size: auto 85%;
    background-position: 50% 50%;
    image-rendering: pixelated;
}

.ticker-content {
    display: flex;
    width: 100%;
    align-items: center;
    white-space: nowrap;
}

.ticker-content.center {
    width: 100%;
    justify-content: center;
}

.ticker-content.animate {
    width: max-content;
    justify-content: flex-start;
    animation: scroll-left 15s linear infinite;
    will-change: transform;
}

.ticker-content.animate p {
    padding-left: 40px;
}

@keyframes scroll-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.playlist-title {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    cursor: pointer;
}
.playlist-title.selected {
    background: var(--text);
    color: var(--text-bg);
    cursor: default;
}
.playlist-title:hover {
    box-shadow: inset 0 0 0 1px var(--border);
}

.progress-bar {
    display: grid;
    grid-template-columns: fit-content(24px) 1fr fit-content(24px);
    width: 100%;
    height: fit-content;
    gap: 8px;
}

.input-range {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background: none;
    cursor: pointer;
}

.input-range:focus {
    outline: none;
}

.input-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    background: var(--text);
}

.input-range::moz-range-track {
    width: 100%;
    height: 1px;
    background: var(--text);
}

.input-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 4px;
    height: 14px;
    margin-top: -6.5px;
    background: var(--text);
}

.input-range::-moz-range-thumb {
    border: none;
    width: 4px;
    height: 14px;
    background: var(--text);
    border-radius: none;
}

.slider-container {
    /* background: red; */
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
}

.timeline {
    width: 100%;
    height: 1px;
    background: var(--text);
    border: none;
}

.slider {
    position: absolute;
    width: 4px;
    height: 80%;
    background: var(--text);
    cursor: pointer;
}

.button-container {
    display: flex;
    width: 100%;
    height: fit-content;
    border: solid 1px var(--border);
    /* background: red; */
}

.music-btn {
    display: flex;
    flex: 1;
    height: fit-content;
    padding: 8px;
    justify-content: center;
    cursor: pointer;

    background: var(--music-btn);
    box-shadow: 
        inset 1.5px 1.5px 0px 1.5px var(--music-btn1),
        inset -1.5px -1.5px 0px 1.5px var(--music-btn2);
}

.music-btn:active {
    background: var(--music-btn-active);
    box-shadow: 
        inset -1.5px -1.5px 0px 1.5px var(--music-btn1),
        inset 1.5px 1.5px 0px 1.5px var(--music-btn2);
}

.vertical-line {
    width: 1px;
    align-self: stretch;
    flex-shrink: 0;
    background: var(--text);
    border: none;
}

.music-icons {
    width: 16px;
    height: 16px;
}

.music-btn:active > .music-icons {
  transform: scale(0.9);
}