.folder-container {
    position: absolute;
    top: 0%;
    left: 0%;
    width: fit-content;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
}

.hover-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
}

.hover-container:hover,
.socials-list:hover {
    background: var(--folders-hover);
    pointer-events: auto;
    cursor: pointer;
}

.folder-icon {
    color: var(--folders);
}

.hover-container p {
    width: 56px;
    color: var(--text);
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
}

.about-name-desc,
.education-list,
.toolList-category {
    display: flex;
    flex-direction: column;

    justify-content: center;
}

.about-name-desc,
.education-list,
.toolList-category,
.interests-window, h1, h2, p {
    text-align: start;
}

#about-window {
    top: 5%;
    left: 10%;
    width: 50%;
    height: fit-content;
    min-width: 200px;
}
.about-name-desc {
    gap: 10px;
}

#education-awards-honors-window {
    top: 10%;
    right: 10%;
    width: 25%;
    height: fit-content;
    min-width: 200px;
}
#education-awards-honors-container {
    flex-direction: column;
    overflow-y: auto;
    gap: 12px;
}
.education-list {
    gap: 4px;
}

#tools-window {
    top: 60%;
    right: 8%;
    width: 25%;
    height: fit-content;
}
#tools-container {
    flex-direction: column;
    overflow-y: auto;
    gap: 12px;
}
.toolList-category {
    gap: 4px;
}
.toolList-tools-container {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    width: 100%;
}
.toolList-tools {
    width: fit-content;
    padding: 2px 4px;
    border: solid 1px var(--border);
}

#interests-window {
    top: 40%;
    left: 15%;
    width: 40%;
    height: fit-content;
}

#contact-socials-window {
    top: 75%;
    left: 12%;
    width: fit-content;
    height: fit-content;
}
#contact-socials-container {
    gap: 12px;
}
.socials-list {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 8px 12px;
}
.socials-list img {
    width: 48px;
    aspect-ratio: 1 / 1;
    image-rendering: pixelated;
}
.socials-list p {
    width: 56px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
}