.folder-container {
    position: absolute;
    top: 0%;
    left: 0%;
    width: fit-content;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
}

.hover-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
}

.hover-container:hover,
.socials-list:hover {
    background: var(--folders-hover);
    pointer-events: auto;
    cursor: pointer;
}

.folder-icon {
    color: var(--folders);
}

.hover-container p {
    width: 56px;
    color: var(--text);
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
}

h1, h2, p {
    text-align: start;
}

.toolList-tools {
    width: fit-content;
    padding: 2px 4px;
    border: solid 1px var(--border);
}

.socials-list {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 8px 12px;
}
.socials-list img {
    width: 48px;
    aspect-ratio: 1 / 1;
    image-rendering: pixelated;
}
.socials-list p {
    width: 56px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
}