.folder-container {
    position: absolute;
    top: 0%;
    left: 0%;
    width: fit-content;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 12px;
    padding: 16px;
}

.hover-container {
    display: flex;
    flex-direction: column;
    height: 90px;
    gap: 4px;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
}

.hover-container:hover {
    background: var(--folders-hover);
    pointer-events: auto;
    cursor: pointer;
}

.folder-icon {
    color: var(--folders);
}

.hover-container img {
    width: 56px;
    margin-top: 4px;
    image-rendering: pixelated;
    filter: grayscale(90%);
}

.hover-container p {
    width: 56px;
    color: var(--text);
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
}

#info-panel-btn {
    justify-content: start;
}
#log-panel-btn {
    flex-direction: column;
    justify-content: end;
}
.info-panel-fill {
    width: 50%;
    height: 100%;
    border-right: solid 1px var(--border);
    /* background: #000; */
}
.log-panel-fill {
    width: 100%;
    height: 50%;
    border-top: solid 1px var(--border);
    /* background: #000; */
}

.info-panel-fill.active,
.log-panel-fill.active {
    background: var(--border);
}