.top-panel {
    background: var(--panel-bg);
    display: flex;
    width: 100%;
    height: 4%;
    min-height: 32px;

    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

    border-bottom: solid 1px var(--border);
}

#date-time {
    display: flex;
    align-items: center;
    gap: 16px;
}

.panel-btn-container {
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.panel-btn-container.active {
    background: var(--text);
    color: var(--text-bg);
}

.panel-btn-container:active {
    transform: rotate(90deg);
}

.music-player-wrapper {
    position: absolute;
    z-index: 5;
    top: 46px;
    right: 14px;
    width: fit-content;
    height: fit-content;
}

#settings-window {
    position: absolute;
    z-index: 5;
    top: 46px;
    right: 14px;
    width: 100%;
    height: fit-content;
    max-height: 200px;
    max-width: 200px;

    display: flex;
    flex-direction: column;

    border: solid 1px var(--border);
    box-shadow: var(--shadow-window);
}

.setting-contents {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;

    padding: 10px;

    background: var(--text-bg);
}

.theme-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theme-btn-container {
    display: flex;
    gap: 8px;
    padding-bottom: 2px;
    padding-right: 2px;
}

.theme-btn {
    display: flex;
    width: 20px;
    height: 20px;

    justify-content: center;
    align-items: center;

    border: solid 1.5px var(--border);
    box-shadow: 2px 2px 0 var(--border);
    cursor: pointer;
}

.theme-btn.active {
    transform: 
        translateX(2px)
        translateY(2px);
    box-shadow: none;
    border: solid 1px var(--border);
    cursor: default;
}